
:root,
:root.yellow {
  --primary-color: #FFEB3B;
  --secondary-color: #FF8CA8;
  --tertiary-color: #000000;
  --primary-color-dark: #958600;
}

:root.white {
  --primary-color: #ffffff;
  --secondary-color: #FF8CA8;
  --tertiary-color: #000000;
  --primary-color-dark: #424242;
}

body {
  background-color: var(--primary-color);
  font-size: 28px;
  transition: 1s;
}

.main{
  margin-bottom: 30px
}

.main-title {
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.sub-title {
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.main-para {
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
  margin-top: 1cm;
}

.text-box {
  width: 50%;
  text-align: center;
  padding:  20px;
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
}

.profile-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1cm;
  margin-top: 2.5cm;
  width: 170px;
  height: 170px;
}

.nav-btn {
  height: 50px;
  width: 150px;
  line-height: 35px;
  letter-spacing: .175rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  font-size: small;
  background-image: linear-gradient( var(--primary-color) 30%, rgba(255, 140, 168, 1) 100%);
  background-size: auto 200%;
  transition: all 0.5s;
  background-position: 0 0;
  color: var(--tertiary-color);
  border: 2px solid #ffffff;
  border-radius: 5.5px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  vertical-align: middle;
}

.nav-btn:hover {
  border: 1px solid var(--secondary-color);
  background-position: 0 70%;
}

.footer-icon {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  fill: var(--tertiary-color);
}

.svg-link {
  position: relative;
  display: inline-block;
  filter: invert(0%) sepia(0%) saturate(7466%) hue-rotate(321deg) brightness(107%) contrast(107%);
  transition: all 0.5s;

}

.svg-link:hover {
  filter: invert(70%) sepia(57%) saturate(2274%) hue-rotate(303deg) brightness(112%) contrast(119%);
}

.svg-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-portfolio {
  width: 18rem;
  background: var(--secondary-color);
  background: linear-gradient(0deg, var(--secondary-color) 0%,  var(--primary-color) 31%);
  border: #ffffff;
  border-radius: 0rem 0rem 2rem 2rem;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.card-year {
  text-align: center;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 2px;
}

.card-img-top {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  transition: all 0.5s;
}

.card .card-img-top {
  border-radius: 10rem 10rem 0px 0px;
}

.card:hover .card-img-top {
  border-radius: 5rem 5rem 0px 0px
}


.card-title {
  text-align: center;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  color: var(--secondary-color);
}

.card-tags {
  font-style: italic;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
}

.card-meta {
  text-align: center;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
}

.card-text {
  text-align: center;
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;
}
#portfolio{
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color-dark);
  border-radius: 5px 5px 5px 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-dark);
}

.btn-outline-primary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  height: 30px;
  line-height: 15px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 20px;
  font-size: small;
  background-image: linear-gradient(rgba(255, 235, 59, 1) 30%, rgba(255, 140, 168, 1) 100%);
  background-size: auto 200%;
  transition: all 0.5s;
  background-position: 0 0;
  color: var(--tertiary-color);
  border: 1px solid #ffffff;
  border-radius: 5.5px;
  vertical-align: middle;
}

.btn-outline-primary:hover, .btn-check:checked+.btn-outline-primary:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-check:checked+.btn-outline-primary{
  border: 1px solid #ffffff;
  background-position: 0 70%;
  transition: all 0.5s;  
}


.card-portfolio-parent[hidden] {
  display: block;
  visibility: visible;
  opacity: 0;
}
.card-portfolio-parent:not([hidden]) {
  opacity: 1;
}
#Hvideo {
  transition: opacity 0.4s ease-in-out;
}

.form-select{
  width: 120px;
  color: var(--secondary-color);
  background-color:  var(--primary-color);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  border-color: var(--secondary-color);
  border-width: 2px;
}


#year-selector{
  margin-top: 25px;
}

#footer{
  padding-bottom: 20px
}

#portfolio-items {
  transition: all 0.5s;
  max-height: auto;
}

#portfolio-items.pre-animation {
  opacity:0;
  transition: all 0.5s;
}

#portfolio-container {
  transition: all 0.5s;
  max-height: auto;
}

#portfolio-container.pre-animation {
  opacity:0;
  transition: all 0.5s;
}

.material-switch > input[type="checkbox"] {
  display: none;   
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: #FFEB3B;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: #ffffff;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: #ffffff;
  left: 20px;
}